@import './sass/variables.scss';

.markdown {
  margin: 1em auto;
}
.preview {
  color: $primaryColor;
  text-align: center;
  font-size: 1.5em;
  margin: 1em auto;
}
.mdPreview,
.htmlPreview {
  text-align: center;
  background-color: beige;
  margin: 2em auto;
  padding: 5px;
}
button {
  background-color: rgb(228, 228, 142);
  border-radius: 5px;
  padding: 5px;
}
.toggleButton {
  margin: 2em auto;
  text-align: center;
}
